body {
  background-color: white;
}

button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 16px;
  transition: all 1s ease;
}

button:hover {
  transform: scale(1.2) rotate(10deg);
}
